.testimonials {
  padding: 7% 0%;

  &__img {
    width:15%;
    border-radius: 100%;
    margin: 30px;
  }

  &__text {
    width: 70%;
    margin: 0 auto;
  }
}




@media (max-width: 768px) {
  .testimonials {

    &__text {
      font-size: 20px;
    }
  }
}